
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
   
    background: url(pexels-stanislav-kondratiev-2908984.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: 550px;
    height: 450px;
}
.header{
    font-size: 1.2rem;
    color: white;
    border: solid 2px white;
    background-color: black;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

.main-content{
    height: 300px;
    width: 100%;
    background-color: white ;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}

.text-area{
    font-size: 1.5rem;
    line-height: 1.5;
}

.person{
    color: red;
    font-size: 1.6rem;
    margin-top: 20px;
    text-transform: uppercase;
}

#new-quote{
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
}

#new-quote:active{
    background-color: lightblue;
}
/* 
*
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* box-sizing: border-box;  */
 
/* body{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url(pexels-stanislav-kondratiev-2908984.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}  */